
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ceramics tables load data</title>
</head>
<body>
<form action="{{ url_for('load_layers')}}" method="post">
    <h5>Enter the data for tbl_layers</h5>
    <div lang="bg">
        <input type="text" name="layertype" placeholder="layertype">
    </div>
    <div>
        <input type="text" name="layername" placeholder="layername">
    </div>
    <div>
        <input type="text" name="site" placeholder="site">
    </div>
    <div>
        <input type="text" name="sector" placeholder="sector">
    </div>
    <div>
        <input type="text" name="square" placeholder="square">
    </div>
    <div>
        <input type="text" name="context" placeholder="context">
    </div>
    <div>
        <input type="text" name="layer" placeholder="layer">
    </div>
    <div>
        <input type="text" name="stratum" placeholder="stratum">
    </div>
    <div>
        <input type="text" name="level" placeholder="levels">
    </div>
    <div>
        <input type="text" name="structure" placeholder="structure">
    </div>
    <div>
        <input type="text" name="includes" placeholder="includes">
    </div>
    <div>
        <input type="text" name="color1" placeholder="color1">
    </div>
    <div>
        <input type="text" name="color2" placeholder="color2">
    </div>
    <div>
        <input type="text" name="handfragments" placeholder="handfragments">
    </div>
    <div>
        <input type="text" name="wheelfragment" placeholder="wheelfragment">
    </div>
    <div>
        <input type="text" name="recordenteredby" placeholder="recordenteredby">
    </div>
    <div>
        <input type="text" name="recordcreatedby" placeholder="recordcreatedby">
    </div>
    <div>
        <input type="text" name="recordcreatedon" placeholder="recordcreatedon">
    </div>
    <div>
        <input type="text" name="description" placeholder="description">
    </div>
    <div>
        <input type="text" name="akb_num" placeholder="akb_num">
    </div>
    <div>
        <button >Submit</button>
    </div>
</form>
</body>

</html>