
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ceramics tables load data</title>
</head>
<body>
<form action="{{ url_for('load_ornaments')}}" method="post">
    <h5>Enter the data for tbl_ornaments</h5>
    <div>
        <input type="text" name="location" placeholder="location">
    </div>
    <div>
        <input type="text" name="relationship" placeholder="relationship">
    </div>
    <div>
        <input type="text" name="onornament" placeholder="onornament">
    </div>
    <div>
        <input type="text" name="color1" placeholder="color1">
    </div>
    <div>
        <input type="text" name="color2" placeholder="color2">
    </div>
    <div>
        <input type="text" name="encrustcolor1" placeholder="encrustcolor1">
    </div>
    <div>
        <input type="text" name="encrustcolor2" placeholder="encrustcolor2">
    </div>
    <div>
        <input type="text" name="primary_" placeholder="primary_">
    </div>
    <div>
        <input type="text" name="secondary" placeholder="secondary">
    </div>
    <div>
        <input type="text" name="tertiary" placeholder="tertiary">
    </div>
    <div>
        <input type="text" name="quarternary" placeholder="quarternary">
    </div>
    <div>
        <button >Submit</button>
    </div>
</form>
</body>

</html>