
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ceramics tables load data</title>
</head>
<body>
<form action="{{ url_for('load_fragments')}}" method="post">
    <h5>Enter the data for tbl_fragments</h5>
    <div>
        <input type="text" name="technology" placeholder="technology">
    </div>
    <div>
        <input type="text" name="speed" placeholder="speed">
    </div>
    <div>
        <input type="text" name="baking" placeholder="baking">
    </div>
    <div>
        <input type="text" name="fract" placeholder="fract">
    </div>
    <div>
        <input type="text" name="primarycolor" placeholder="primarycolor">
    </div>
    <div>
        <input type="text" name="secondarycolor" placeholder="secondarycolor">
    </div>
    <div>
        <input type="text" name="covering" placeholder="covering">
    </div>
    <div>
        <input type="text" name="includesconc" placeholder="includesconc">
    </div>
    <div>
        <input type="text" name="includessize" placeholder="includessize">
    </div>
    <div>
        <input type="text" name="includestype" placeholder="includestype">
    </div>
    <div>
        <input type="text" name="surface" placeholder="surface">
    </div>
    <div>
        <input type="text" name="count" placeholder="count">
    </div>
    <div>
        <input type="text" name="onepot" placeholder="onepot">
    </div>
    <div>
        <input type="text" name="piecetype" placeholder="piecetype">
    </div>
    <div>
        <input type="text" name="wallthickness" placeholder="wallthickness">
    </div>
    <div>
        <input type="text" name="handlesize" placeholder="handlesize">
    </div>
    <div>
        <input type="text" name="handletype" placeholder="handletype">
    </div>
    <div>
        <input type="text" name="dishsize" placeholder="dishsize">
    </div>
    <div>
        <input type="text" name="topsize" placeholder="topsize">
    </div>
    <div>
        <input type="text" name="necksize" placeholder="necksize">
    </div>
    <div>
        <input type="text" name="bodysize" placeholder="bodysize">
    </div>
    <div>
        <input type="text" name="bottomsize" placeholder="bottomsize">
    </div>
    <div>
        <input type="text" name="dishheight" placeholder="dishheight">
    </div>
    <div>
        <input type="text" name="bottomtype" placeholder="bottomtype">
    </div>
    <div>
        <input type="text" name="outline" placeholder="outline">
    </div>
    <div>
        <input type="text" name="category" placeholder="category">
    </div>
    <div>
        <input type="text" name="form" placeholder="form">
    </div>
    <div>
        <input type="text" name="type" placeholder="type">
    </div>
    <div>
        <input type="text" name="subtype" placeholder="subtype">
    </div>
    <div>
        <input type="text" name="variant" placeholder="variant">
    </div>
    <div>
        <input type="text" name="note" placeholder="note">
    </div>
    <div>
        <input type="text" name="inventory" placeholder="inventory">
    </div>
    <div>
        <input type="text" name="decoration" placeholder="decoration">
    </div>
    <div>
        <input type="text" name="composition" placeholder="composition">
    </div>
    <div>
        <input type="text" name="parallels" placeholder="parallels">
    </div>
    <div>
        <input type="text" name="recordenteredby" placeholder="recordenteredby">
    </div>
    <div>
        <button >Submit</button>
    </div>
</form>
</body>

</html>