
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <title>Ceramics tables load data</title>
</head>
<body>
<form action="{{ url_for('load_fragments')}}" method="post">
    <h5>Въведи данни за таблица фрагменти:</h5>
    <div>
        <label for="technology">Технология:</label>
        <input type="text" id="technology" name="technology" placeholder="1, 2, 2А, 2Б">
    </div>
    <div>
        <label for="speed">Скорост:</label>
        <input type="text" id="speed" name="speed" placeholder="1, 2">
    </div>
    <div>
        <label for="baking">Изпичане:</label>
        <input type="text" id="baking" name="baking" placeholder="Р, Н">
    </div>
    <div>
        <label for="fract">Лом:</label>
        <input type="text" id="fract" name="fract" placeholder="1, 2, 3">
    </div>
    <div>
        <label for="primarycolor">Цвят1:</label>
        <input type="text" id="primarycolor" name="primarycolor" placeholder="цвят1">
    </div>
    <div>
        <label for="secondarycolor">Цвят2:</label>
        <input type="text" id="secondarycolor" name="secondarycolor" placeholder="цвят2">
    </div>
    <div>
        <label for="covering">Покритие:</label>
        <input type="text" id="covering" name="covering" placeholder="покритие">
    </div>
    <div>
        <label for="includesconc">Концентрация на примеси:</label>
        <input type="text" id="includesconc" name="includesconc" placeholder="+, -">
    </div>
    <div>
        <label for="includessize">Големина на примеси:</label>
        <input type="text" id="includessize" name="includessize" placeholder="М, С, Г">
    </div>
    <div>
        <label for="includestype">Вид на примеси:</label>
        <input type="text" id="includestype" name="includestype" placeholder="с, т">
    </div>
    <div>
        <label for="surface">Повърхност:</label>
        <input type="text" id="surface" name="surface" placeholder="А, Б, В, В1, В2, Г">
    </div>
    <div>
        <label for="count">Брой:</label>
        <input type="text" id="count" name="count" placeholder="брой">
    </div>
    <div>
         <label for="onepot">Цял съд:</label>
         <input type="text" id="onepot" name="onepot" placeholder="да/не">
    </div>
    <div>
        <label for="piecetype">Фрагмент от:</label>
        <input type="text" id="piecetype" name="piecetype" placeholder="фрагмент от">
    </div>
    <div>
        <label for="wallthickness">Дебелина на стена:</label>
        <input type="text" id="wallthickness" name="wallthickness" placeholder="М, С, Г">
    </div>
    <div>
        <label for="handlesize">Дебелина на дръжка:</label>
        <input type="text" id="handlesize" name="handlesize" placeholder="М, С, Г">
    </div>
    <div>
        <label for="handletype">Тип дръжка:</label>
        <input type="text" id="handletype" name="handletype" placeholder="тип дръжка">
    </div>
    <div>
        <label for="dishsize">Размер съд:</label>
        <input type="text" id="dishsize" name="dishsize" placeholder="М, С, Г">
    </div>
    <div>
        <label for="topsize">Размер устие:</label>
        <input type="text" id="topsize" name="topsize" placeholder="размер устие">
    </div>
    <div>
        <label for="necksize">Размер шия:</label>
        <input type="text" id="necksize" name="necksize" placeholder="размер шия">
    </div>
    <div>
        <label for="bodysize">Размер тяло:</label>
        <input type="text" id="bodysize" name="bodysize" placeholder="размер тяло">
    </div>
    <div>
        <label for="bottomsize">Размер дъно:</label>
        <input type="text" id="bottomsize" name="bottomsize" placeholder="размер дъно">
    </div>
    <div>
        <label for="dishheight">Височина съд:</label>
        <input type="text" id="dishheight" name="dishheight" placeholder="височина съд">
    </div>
    <div>
        <label for="bottomtype">Тип дъно:</label>
        <input type="text" id="bottomtype" name="bottomtype" placeholder="А, Б, В, А1, А2, Б1, Б2, В1, В2">
    </div>
    <div>
        <label for="outline">Силует:</label>
        <input type="text" id="outline" name="outline" placeholder="1, 2, 3">
    </div>
    <div>
        <label for="category">Категория:</label>
        <input type="text" id="category" name="category" placeholder="категория">
    </div>
    <div>
        <label for="form">Форма:</label>
        <input type="text" id="form" name="form" placeholder="форма">
    </div>
    <div>
        <label for="type">Тип:</label>
        <input type="text" id="type" name="type" placeholder="тип">
    </div>
    <div>
        <label for="subtype">Подтип:</label>
        <input type="text" id="subtype" name="subtype" placeholder="подтип">
    </div>
    <div>
        <label for="variant">Вариант:</label>
        <input type="text" id="variant" name="variant" placeholder="вариант">
    </div>
    <div>
         <label for="note">Бележка:</label>
        <input type="text" id="note" name="note" placeholder="бележка">
    </div>
    <div>
         <label for="inventory">Инвентарен номер:</label>
        <input type="text" id="inventory" name="inventory" placeholder="инвентарен номер">
    </div>
    <div>
        <label for="decoration">Украса:</label>
        <input type="text" id="decoration" name="decoration" placeholder="украса">
    </div>
    <div>
        <label for="composition">Композиция:</label>
        <input type="text" id="composition" name="composition" placeholder="композиция">
    </div>
    <div>
         <label for="parallels">Паралели:</label>
        <input type="text" id="parallels" name="parallels" placeholder="паралели">
    </div>
    <div>
        <label for="recordenteredby">Въведен от:</label>
        <input type="text" id="recordenteredby" name="recordenteredby" placeholder="въведен от">
    </div>
    <div>
        <button >Submit</button>
    </div>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</form>
</body>

</html>